.bagitemscontainer {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 2px solid #7b7bbc;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bagpage {
  width: 75%;
  margin-left: 12.5%;
  background-color: #d3d467;
}

.bagsummary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bagdetailscontainer {
  margin-bottom: 16px;
}

.priceheader {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.priceitem {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.priceitemvalue {
  float: right;
}

.priceDetailbasediscount {
  color: #03a685;
}

.pricefooter {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btnplaceorder {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bagitemcontainer {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.itemleftpart {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.itemrightpart {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bagitemimg {
  width: 100%;
}

.returnperiod {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.returnperioddays {
  font-weight: 700;
  margin-right: 4px;
}

.deliverydetails {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.deliverydetailsdays {
  color: #03a685;
}

.removefromcart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}